html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --backgroundColor: #292929;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #e6e6e6;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  background-color: var(--backgroundColor);
}

#__next {
  overflow: hidden;
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

li {
  list-style: none;
}

.projects {
  padding: 5% 7%;
}

.projects__header {
  height: 100vh;
  padding-right: 20%;
}

.projects__header h1 {
  color: #ffffff !important;
}

.projects__header>h1 {
  font-size: var(--headlineBig);
  color: var(--primaryBlueColor);
}

.projects__outer {
  display: flex;
  gap: var(--spacingMedium) var(--spacingSmall);
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.projects__single {
  min-width: 300px;
  width: 40%;
}

.project__single__image-wrapper {
  /* IMPORTANT FOR THE ANIMATION */
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  width: 100%;
}

.project__single__image-wrapper img {
  /* IMPORTANT FOR THE ANIMATION */
  scale: 1.3;
  width: 100%;
}

.project__single__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects__single h2 {
  /* color: var(--primaryBlueColor); */
  color: wheat;
  padding: var(--spacingSmall) 0;
  font-size: var(--headlineMedium);
}

.project__single__details a {
  text-decoration: none;
  font-size: var(--headlineSmall);
  font-weight: 800;
  color: var(--backgroundColor);
  color: wheat;
  background-color: var(--primaryRedColor);
  padding: var(--btnPadding);
  border-radius: var(--borderRadius);
}

.projects__single ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacingSmall);
}

.projects__single li {
  text-transform: uppercase;
  font-size: var(--headlineTiny);
  /* color: var(--secondaryBlueColor); */
  color: wheat;
  padding: var(--btnPadding);
  border: var(--borderSize) solid var(--secondaryBlueColor);
  border-radius: var(--borderRadius);
}

.projects__single-margin {
  margin-top: 13rem;
}

.image-container {
  width: 400px;
  height: 600px;
  background-color: royalblue;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 200%;
  height: 100%;
}

.angle-img-one {
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  border: 2px solid #ffffff;
  width: 100px;
  height: 100px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.angle-img-two {
  display: block;
  position: absolute;
  bottom: 10%;
  right: 10%;
  border: 2px solid #ffffff;
  width: 100px;
  height: 100px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

@media screen and (max-width: 716px) {
  .projects__single {
    margin-top: 0;
  }

  .projects__outer {
    justify-content: center;
  }

  .projects__single {
    min-width: auto;
    width: 90%;
  }

  .projects__single ul {
    margin-top: var(--spacingSmall);
  }

  .projects__header {
    height: auto;
    padding-bottom: 20%;
    padding-right: 0;
  }
}